@import "reset.css";
@import "status-bar.css";
@import "variables.css";

.body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.welcom-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcom-header__title {
  margin-bottom: 34px;
  font-size: 25px;
  font-weight: 600;
}
.welcom-header__text {
  width: 60%;
  color: #999999;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
  font-size: 16px;
}
#login-form input {
  border: none;
  padding: 20px 0px;
  font-size: 18px;
  margin-bottom: 20px;
}

#login-form input:not([type="submit 1, submit 2"]) {
  transition: border-color 0.3s ease-in-out;
  border-bottom: 1px solid #cccccc;
}

#login-form input::placeholder {
  color: #cccccc;
}

#submit1 {
  margin-top: 50px;
}

#login-form input:focus {
  border-color: var(--yellow);
}
