.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-display-link {
  text-align: center;
  display: block;
  background-color: #f4f4f4;
  padding: 10px;
  font-size: 15;
}

.friends-display-link i {
  color: #cccccc;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  border-top: 0.5px solid #f4f4f4;
  font-size: 14px;
  color: #999999;
  padding: 8px 0px;
}

.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
}
